@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div class="text-center align-items-center">
    <img src="~/img/bookstore.png" class="rounded-circle" width="1100" height="240" alt="Welcome to the bookstore" /> <!--banner image to welcome peopel to site-->
    <br />
    <br />

    <!--For each loop, goes through each object in the model and displays there attributes in a table formatted below-->
    @foreach (var x in Model.Books)
    {
        <div class="card card-outline-primary center col-sm-12 p-1">
            <div class="text-left bg-faded align-items-center p-1">
                <h4 class="display-5">
                    @x.Title
                    <span class="badge badge-secondary vertical-align:middle" style="float:right">
                        $@x.Price
                    </span>
                </h4>
                <h6>By: @x.AuthorFirstName @x.AuthorLastName | Publisher: @x.Publisher</h6>
                <p>ISBN: @x.ISBN | Number of Pages: @x.Pagenum</p>
                <p>Category: @x.Category | Classification: @x.Classification</p>
            </div>
        </div>
    }
   <!--Creates the page naviagation at the bottom of the index page, changes based on the number of books in the database-->
    <div class="row">
        <div class="col-5"></div>
        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1 col-2"></div>
        <div class="col-5"></div>
    </div>
</div>


